.env
.git
.gitignore
.gitattributes
node_modules
vendor
docker-compose.yml
Dockerfile
.dockerignore
.phpunit*
tests
docs
scripts
deployment_scripts
*.md
*.sql
*.zip
*.rar
storage/logs/*
storage/app/backups/*
